@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700|Bad+Script:300");

html,
body {
  height: 100%;
  position: relative;
  background: #fafafa;

  font-family: "Montserrat", sans-serif;
  color: #585858;
  font-size: 14px;
  letter-spacing: 1px;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0;
}

/*---------------------------------Main header & footer---*/

.header-container {
  padding: 40% 10% 0 10%;
  text-align: center;
  text-transform: uppercase;
}

/*--Main header text--*/

.header-container h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1.5em;
}

#my-name {
  color: rgba(87, 40, 90, 0.6);
  font-size: 26px;
  font-weight: 400;
}

/*--Main header images & marker--*/

#london-skyline {
    filter: opacity(0.7);
}

#map {
  width: 60%;
  left: 50%;
  top: 84%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#marker {
  left: 49%;
  top: 68%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: rgba(87, 40, 90, 0.8);
}
#marker:hover {
  font-size: 130%;
}

/*--Main nav menu--*/

.list-inline-item:not(:last-child) {
    margin: 0 auto;
    padding-right: 2%;
}
.nav {
  margin-top: 3.5em;
  margin-left: 15%;
  margin-right: 15%;
}
.nav li a {
  text-decoration: none;
  color: #585858;
}
.nav li a:hover,
li.active.col-12.list-inline-item a {
  padding: 4px 6px;
  border: 1px solid rgba(87, 40, 90, 0.5);
  border-radius: 70%;
  font-size: 14px;
}

/*--Footer---*/

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(87, 40, 90, 0.1);
}

.social-links {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.social-links li a i {
  width: 24px;
  border-radius: 50%;
  padding: 6px 0;
  font-size: 12px;
  color: #fafafa;
  background: #8f8f8f;
}
.social-links li a i:hover {
  background: rgba(87, 40, 90, 0.5);
}
.copyright {
  font-size: 10px;
  padding-top: 0.5em;
}

/*---------------------------------My story---*/

#story-body {
  height: 365vh;
}

/*--Intro--*/
.container-mystory {
  margin: 5%;
}

.title {
  font-size: 14px;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
}
.hr-format {
  margin-top: 0;
  width: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.intro p {
  font-size: 11px;
  font-weight: 300;
  padding: 0 10%;
}

#contact-details {
  border: 1px dashed rgba(87, 40, 90, 0.5);
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 2% 0;
}

#contact-details i {
  color: rgba(87, 40, 90, 0.5);
}

/*--Timelines--*/

.history {
  margin: 5%;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  border-left: 1px solid;
}
.timeline-item h4 {
  font-size: 14px;
  margin-bottom: 0;
}
.timeline-item p {
  margin: 0;
  font-size: 12px;
}
.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  top: 3em;
  font-weight: 500;
  font-size: 10px;
}
.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.3em;
  position: absolute;
  left: -6px;
  border-radius: 50%;
  content: "";
  background: rgba(87, 40, 90, 0.5);
}

/*--Personal skills--*/

.progress {
  position: relative;
  margin-bottom: 5px;
  margin-right: 10%;
  margin-left: 10%;
}

.progress-bar {
  background-color: rgba(87, 40, 90, 0.2);
}

.progress-type {
  position: absolute;
  font-weight: 400;
  padding: 3%;
  color: #f7f7f7;
  background-color: rgba(25, 25, 25, 0.2);
}

/*--Software Skills--*/

.software-skills {
  margin-left: 15%;
  margin-right: 15%;
}

.icon-skill {
  padding: 0;
}

.icon-skill img {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 0.2px dotted rgba(25, 25, 25, 0.2);
  background: #f7f7f7;
  filter: grayscale(100%);
  opacity: 0.6;
}
.icon-skill img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/*---------------------------------My work---*/

#work-body {
  height: 106vh;
}

/*--Carousel--*/

.carousel-inner {
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
}
.carousel-indicators {
  margin-bottom: 1%;
}
.carousel-control-next span,
.carousel-control-prev span {
  font-size: 1.5em;
  color: #585858;
}

/*--Carousel overlay--*/

.img-overlay {
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.overlay-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}
.carousel-item:hover .img-overlay {
  filter: brightness(30%);
}
.carousel-item:hover .overlay-text {
  opacity: 1;
}
.overlay-text p {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}
.btn-primary {
  border: 1px solid #fafafa;
  background: none;
  font-size: 8px;
  padding: 2px 5px;
}
.btn-primary:hover {
    background: none;
    border: 1px solid #fafafa;
}

/*---------------------------------Contact---*/

#contact-body {
  height: 158vh;
}

.contact-text-bg {
    margin-top: 5%;
    background: rgba(87, 40, 90, 0.05);
    height: 100px;
}
.contact-text {
    text-align: center;
    margin-bottom: 10%;
}

/*--Form--*/

.center-form {
  margin: 0 auto;
  max-width: 70%;
}
.center-form h2,
.center-form h6 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 5%;
  margin-bottom: 0;
}
.center-form h6 {
  font-size: 12px;
  padding: 3% 5%;
  background: #fafafa;
  border: 1px dashed rgba(87, 40, 90, 0.1);
}

.center-form i {
  color: #585858;
  opacity: 0.5;
}

label {
  margin-bottom: 0;
  font-size: 10px;
}

/*--Submit button--*/

#btn-submit {
    text-align: center;
    margin-top: 5%;
}

button[type="submit"] {
  color: #fafafa;
  background-color: #8f8f8f;
  border: none;
  font-size: 14px;
}
button[type="submit"]:hover {
  background: rgba(87, 40, 90, 0.5);
}

/*---------------------------------Media Queries---*/

@media (min-width: 576px) {
    .header-container {
        padding-top: 10%;
    }
    .nav {
        margin-top: 7.5em;
    }
    #story-body {
        height: 320vh;
    }
}


@media (min-width: 768px) {
    #map {
    width: 52%;
    }
}

@media (min-width: 992px) {
    #map {
    width: 45%;
    }
}
   

@media (min-width: 1120px) {
    .header-container {
        padding-top: 5%;
    }
    .nav {
        margin-top: 7.5em;
    }
    #map {
    width: 40%;
    }
}