@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Bad+Script:300");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #585858;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0;
}


/*---------------------------------Main header & footer---*/

.header-container {
  padding-top: 20vh;
  text-align: center;
}


/*--Main header text--*/

.header-container h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 7vh 2vh 7vh;
}

#my-name {
  color: rgba(87, 40, 90, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
}


/*--Main header images & marker--*/

#london-skyline {
  max-width: 600px;
  filter: opacity(0.7);
  width: 90%;
}

#map {
  max-width: 300px;
  width: 55%;
  left: 50%;
  top: 84%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#marker {
  font-size: 100%;
  color: rgba(87, 40, 90, 0.8);
  left: 49%;
  top: 77%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#marker:hover {
  font-size: 130%;
}


/*--Main nav menu--*/

.list-inline-item:not(:last-child) {
  margin: 0 auto;
  padding: 0;
}

.nav {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 60vw;
}

.nav li a {
  text-decoration: none;
  color: #585858;
  padding-bottom: 5px;
}

.nav li a:hover,
li.active.col-12.list-inline-item a {
  padding: 4px 6px;
  border: 1px solid rgba(87, 40, 90, 0.5);
  border-radius: 70%;
  font-size: 14px;
}


/*--Footer---*/

footer {
  margin: 0;
  background-color: rgba(87, 40, 90, 0.1);
  min-height: 70px;
  padding-bottom: 0;
}

#index-footer {
  position: absolute;
  bottom: 0;
}

.social-links {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.social-links li a i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  color: #fafafa;
  background: #8f8f8f;
}

.social-links li a i:hover {
  background: rgba(87, 40, 90, 0.4);
}

.copyright {
  font-size: 8px;
  padding-top: 0.5rem;
  text-transform: none;
}


/*--Page titles---*/

.title-bg {
  width: 100%;
  margin-top: 8%;
  background-color: rgba(87, 40, 90, 0.05);
  height: 17%;
  text-align: center;
}

.title-text h2,
.title-text h6 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 5%;
  margin-bottom: 0;
  text-align: center;
}

.title-text h6 {
  font-size: 10px;
  padding: 3% 5%;
  background: #fafafa;
  border: 1px dashed rgba(87, 40, 90, 0.1);
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  text-transform: none;
}

#story-title {
  position: absolute;
  height: 100px;
}

#story-text {
  margin-top: 20%;
}

#work-title-bg {
  height: 22%;
}


/*---------------------------------My story---*/


/*--Intro--*/

#contact-details {
  border: .5px solid rgba(87, 40, 90, 0.5);
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 2% 0;
  text-transform: lowercase;
}

#contact-details i {
  color: rgba(87, 40, 90, 0.5);
}

#contact-details a {
  color: #585858;
}

.title {
  font-size: 14px;
  margin-top: 5%;
  text-align: center;
}


/*--Timelines--*/

.history {
  margin: 5%;
}

.timeline-item {
  padding: 4rem 2rem 0rem 2rem;
  position: relative;
  border-left: 1px solid;
}

.timeline-item h4 {
  font-size: 14px;
  margin-bottom: 0;
}

.timeline-item p {
  margin: 0;
  font-size: 12px;
  text-transform: none;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  top: 3rem;
  font-weight: 500;
  font-size: 10px;
}

.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.3rem;
  position: absolute;
  left: -6px;
  border-radius: 50%;
  content: "";
  background: rgba(87, 40, 90, 0.5);
}


/*--Personal skills--*/

.progress {
  position: relative;
  height: 16px;
  margin-bottom: 5px;
  margin-right: 10%;
  margin-left: 10%;
}

.progress-bar {
  background-color: rgba(87, 40, 90, 0.2);
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 400;
  padding: 3%;
  color: #f7f7f7;
  font-size: 8px;
  text-transform: none;
  background-color: rgba(25, 25, 25, 0.2);
}


/*--Software Skills--*/

.software-skills {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.icon-skill img {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 0.2px dotted rgba(25, 25, 25, 0.2);
  background: #f7f7f7;
  filter: grayscale(100%);
  opacity: 0.6;
}

.icon-skill img:hover {
  filter: grayscale(0%);
  opacity: 1;
}


/*---------------------------------My work---*/


/*--Carousel--*/

.carousel-indicators {
  margin-bottom: 1%;
}

.carousel-inner {
  margin: 0 auto;
  width: 70%;
}

.carousel-control-next span,
.carousel-control-prev span {
  font-size: 1.5rem;
  color: #585858;
}


/*--Carousel overlay--*/

.img-overlay {
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 12px;
}

.overlay-text p {
  margin-bottom: 0.5rem;
}

.carousel-item:hover .img-overlay {
  filter: brightness(30%);
}

.carousel-item:hover .overlay-text {
  opacity: 1;
}

.btn-primary {
  border: 1px solid #fafafa;
  background: none;
  font-size: 8px;
  padding: 2px 5px;
}

.btn-primary:hover {
  background: #585858;
  border: 1px solid #fafafa;
  color: #fafafa;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background: rgba(87, 40, 90, 0.2);
  border: 1px solid #fafafa;
  color: #fafafa;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}


/*---------------------------------Contact---*/

.title-text i {
  color: #585858;
  opacity: 0.5;
}


/*--Form--*/

.center-content {
  margin: 0 auto;
  max-width: 70%;
  margin-top: 12%;
}

label {
  margin-bottom: 0;
  font-size: 10px;
}


/*--Submit button--*/

#btn-submit {
  text-align: center;
  margin-top: 5%;
}

button[type="submit"] {
  color: #fafafa;
  background-color: #8f8f8f;
  border: none;
  font-size: 14px;
}

button[type="submit"]:hover {
  background: rgba(87, 40, 90, 0.5);
}


/*---------------------------------Media Queries---*/


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  .center-content {
    margin-top: 8%;
  }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  .title-bg {
    margin-top: 5%;
  }
  #story-text,
  #work-tl {
    margin-top: 40%;
  }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  .title-text h2 {
    padding-top: 3%;
  }
  .title-text h6 {
    width: 50%;
    padding: 2% 3%;
    margin-top: 1%;
  }
  #story-text h6 {
    width: 60%;
  }
  .center-content {
    width: 50%;
    margin-top: 6%;
  }
  .progress-type {
    top: -3px;
  }
}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .title-text h6 {
    width: 40%;
  }
  .center-content {
    width: 40%;
  }
  .progress-type {
    top: -5px;
  }
}